@charset "UTF-8";
@font-face {
    font-family: 'monofonto';
    src: url(fontes/monofonto/MONOFONT.TTF);
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body{
    background-color: #4d908e;

}




p > img{
    padding: 10px;
    width: 150px;
    border-radius: 50%;

}

section{
    padding: 10px;
}

p img:hover{
    border:  1px, dashed white;
    border-radius: 50%;
}
h1{
    padding: 10px;
}

main{
    padding-top: 20px;
    margin: 20px;
    height: 100vh;
    background-color:#577590 ;
    border-radius: 20px;
     box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.534);
}
.cont{
    display: inline-flex;
}
.texto{
        height: 180%;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.356);
        font-size: 3.3vw;
        position: relative;
        top: 55px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-right: 10px;
}

/* Lista*/
.Lista {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    display: inline-flex;
    background-color: rgba(245, 245, 245, 0.349);
    width: 100%;
    columns: 3 300px;
}
.Lista a {
    width:30% ;
    font-size: 4vw;
    margin: auto;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to top, #6a040f, #785589);
    border: 1px solid black;
    font-family: 'monofonto';
    padding: 1px;
    margin-left: 10px;
    margin-right: 5px;
    display: inline-flex;
     padding:  5px;
}
.Lista a:hover{
    border: 0.1px solid white;
    transform: translate(-1%, -2%);
    box-shadow: 2px 5px rgba(0, 0, 0, 0.623);
    transition: border 0.1s, transform 0.1s ;
}

