@charset "UTF-8";

:root{
    --Azuli:#2EA7F2 ;
    --begie:#F2CA7E;
    --veryd:#6B732D;
}
html{
    background-image: url('fotos/fundo_agua.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
    background-size: cover;


}


#relogio{
    height: 400px;
    width: 400px;
    background-color: var(--veryd) ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    

}

p {
    height: 40px;
    width: 50px;
    font-size: 1.4em;
    color:whitesmoke ;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

 