@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --ColorVredeRex:#44CF6C;
    --ColorMarronBoch:#38302E;
    --ColorAzulAcinzent:#9CAEA9;
    --ColorRozeta:#FF715B;
}
body,html{
    background-color:var(--ColorMarronBoch) ;
    width: 100%;
    height: 100%;

}


 .cabeçalho{
    position: sticky;
    text-align: center;
    padding: 4px;
    background-color: var(--ColorAzulAcinzent);
    width: 400px;
    height: 200px;
    margin: 20px auto;
    margin-bottom: 0px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
 .cabeçalho>.texto, .botao{
    border: none;
    border-radius: 10px;
    height: 40px;

}
.cabeçalho> h1{
   
    margin-bottom: 10px;
    padding: 10px;
}
.cabeçalho>.botao{
    width: 30%;
    margin-top: 10px;
}

.cabeçalho>.botao:hover{
    background-color:var(--ColorVredeRex) ;
}

.cabeçalho>.texto{
    border-radius: 20px;
    text-align: center;
}
.cabeçalho > input[type="text"]:hover{
    scale: 1.1;
    margin: 0px 15px;
}

.cabeçalho .botao:active{
    background-color: red;
    transform: scale(0.92);
    
}


main{
    width: 450px;
    height: 100vh; 
    margin-top:50px;
    margin:0 auto;
  
   
    
}


#saida{
        margin: 20px auto;
        width: 400px;
        height: auto;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 10px ;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        
    } 
#saida p{
        
        padding:6px;
        
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
        border-radius:10px;
        display: flex;
  
    
   
}

#saida p> input{
    margin-right: 10px;
  
    
 
}
#item{
    font-size: 18px;
    color: var(--ColorMarronBoch);
    font-weight: bold;
    background-color: var(--ColorAzulAcinzent);
}
#item{
    margin-top: 20px;
}
#item:focus{
    
    outline: none;
    transform: scale(2);
}


#botaoclose{
    cursor: pointer;
}


.imagem{
    width: 70px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
 
